body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
}

h1 {
    margin-bottom: 30px;
    color: #333;
}

#voteCounts {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

#voteCounts p {
    font-size: 18px;
    color: #555;
}

canvas {
    max-width: 100%;
    margin: 0 auto;
}
